<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Listing</title>
  </head>
  <body>
    <%- include('../shared/header.ejs'); -%>
    <main>
      <h2 style="text-align: center">Select Project to explore</h2>
      <h2>Project List</h2>
      <a href="/unit-convertor">
        <h3>Unit Convertor</h3>
      </a>
    </main>
    <footer></footer>
  </body>
</html>
